li {
  margin-right: 2%;
}

.inner-ctr {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-height: 450px;
}

.main-carousel {
  width: 75%;
  height: 450px;
  overflow: hidden;
  margin: 2%;
}

.small-carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}

.banner {
  width: 350px;
  height: 160px;
  border-radius: 5px;
}

.hightlighted-menu {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.wraper {
  display: flex;
  justify-content: center;
}

.icon-title {
  text-align: center;
}

.katalog {
  display: flex;
  margin: 0 auto;
  margin-bottom: 5%;
}

.jenis {
  display: flex;
  flex: 2;
}

.card {
  width: 170px;
  max-height: 400px;
}

.catalog-menu {
  font-family: "Times New Roman", Times, serif;
  color: brown;
}

.discount {
  margin: 0px;
  font-weight: bold;
  text-decoration: line-through;
  text-align: center;
}

.price {
  font-weight: bold;
  color: red;
  text-align: center;
}

.judul {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.rate {
  text-align: center;
}

.checked {
  color: orange;
}

.product {
  display: flex;
  width: 1000px;
  margin: 50px auto;
  padding: 20px;
  box-sizing: border-box;
}

.product-view {
  flex: 1;
}

.product-info {
  flex: 3;
}

.btn-product {
  background-color: #3de0c8;
  color: #ffffff;
  font-weight: bolder;
  border-radius: 50px;
  border: none;
  width: 100%;
  margin-top: 5px;
  padding: 5px 10px;
}

.img-container {
  width: 200px;
  height: auto;
  margin: auto;
}

.detail {
  max-width: 550px;
}

.quantity{
  font-size: 14px;
    border: 1px solid #e8eaf6;
    float: right;
    padding: 10px;
    
    border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
    border-bottom: 1px solid #b4b4b4;
    display: inline-flex;
    text-align: center;
}

#cart-checkout .checkout-area a {
    background-color:#E3984E;
    color: #BE1828;
    font-size: 16px;
    border-radius: 50px;
    padding: 5px 5px;
    border: none;
    width: 100%;
    margin-left: 10px;
    margin-top: 20px;
    height: 40px;
}